*{
  list-style: none;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  color: rgb(44, 47, 66);
  text-decoration: none;
  text-transform: capitalize;
}

a:hover {
  color: green;
}

body {
  margin: 0;
  /* font-family: 'Helvetica Neue,Helvetica,Arial,sans-serif'; */
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Source Sans Pro';
  font-weight: normal;
}
